  <nav>
    <a [routerLink]="['/']">
    <img id="logo" src="/logo.png" width="130" height="50"/>
  </a>
    <ul>
      <li *ngIf="loggedOn && !loggedUser?.premium" class="premium-nav-item">
        <a [routerLink]="['/checkout-premium']" class="buy-premium-btn">
          ★ Buy Premium
        </a>
      </li>
      <li *ngIf="loggedOn" class="dropdown">
        <button class="dropbtn">{{ loggedUser.username }}</button>
        <div class="dropdown-content">
          <a [routerLink]="['/habits']">Habits</a>
          <a [routerLink]="['/notes']">Notes</a>
          <a [routerLink]="['/journal']">Journal</a>
          <a [routerLink]="['/stats']">Stats</a>
          <a [routerLink]="['/challenges']">Challenges</a>


          <a (click)="logout()" class="logout-btn">Logout</a>
        </div>
      </li>
      <ng-container *ngIf="!loggedOn">
        <li *ngIf="!isLoginPage" [class.active]="menuActiveLink === 'Login'">
          <a [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="!isRegisterPage" [class.active]="menuActiveLink === 'Register'">
          <a [routerLink]="['/register']">Register</a>
        </li>
      </ng-container>
    </ul>
  </nav>
