<div class="habit-dialog">
  <form class="habit-form" #form="ngForm">
    <div class="title">
      <input type="text" matInput [(ngModel)]="title" name="title" maxlength="26" placeholder="TITLE" required/>
    </div>
    <div class="description">
      <textarea id="description"  [(ngModel)]="description" name="description" maxlength="100" placeholder="DESCRIPTION"></textarea>
    </div>
    <select matInput [(ngModel)]="partOfDay" name="partOfDay" >
        <option value="Any" disabled selected hidden>Time of the day</option>
        <option value="Any">ANYTIME</option>
        <option value="Morning">MORNING</option>
        <option value="Evening">AFTERNOON</option>
        <option value="Night">EVENING</option>
      </select>
    <div class="actions">
      <button type="button" (click)="onNoClick()">Cancel</button>
      <button type="submit" [disabled]="form.invalid" (click)="save()">Save</button>
    </div>
  </form>
</div>
