<app-day-carousel
  [currentDate]="today"
  (dateChanged)="onDateChanged($event)">
</app-day-carousel>

<!-- FILTRI -->
<div class="filter-section">

  <div class="habit-filter-buttons">
    <button [class.active]="selectedFilter === 'All'" (click)="onFilterChanged('All')">
        <img src="all.png" alt="filter-all" style="height:20px; width:20px;">
    </button>

    <button [class.active]="selectedFilter === 'Morning'" (click)="onFilterChanged('Morning')">
      <img src="filter-morning.png" alt="morning" style="height:20px; width:20px;">
    </button>

    <button [class.active]="selectedFilter === 'Evening'" (click)="onFilterChanged('Evening')">
      <img src="filter-evening.png" alt="evening" style="height:20px; width:20px;">
    </button>

    <button [class.active]="selectedFilter === 'Night'" (click)="onFilterChanged('Night')">
      <img src="filter-night.png" alt="night" style="height:20px; width:20px;">
    </button>
  </div>

  <div class="filter-title">
    <h2>Filter: {{ selectedFilter }}</h2>
    <span>•</span>
    <h2>Status: {{ selectedStatus }}</h2>
  </div>

  <div class="habit-filter-buttons">
    <button [class.active]="selectedStatus === 'All'" (click)="onStatusChanged('All')">All</button>
    <button [class.active]="selectedStatus === 'COMPLETED'" (click)="onStatusChanged('COMPLETED')">Completed</button>
    <button [class.active]="selectedStatus === 'SKIPPED'" (click)="onStatusChanged('SKIPPED')">Skipped</button>
  </div>

</div>

<!-- HABITS LIST -->
<div class="habit-card-container">

  <div class="habit-card" *ngFor="let habit of filteredHabits">

    <!-- CHECKIN ESISTENTE -->
    <ng-container *ngIf="getCheckinForHabitAndDate(habit.id!, selectedDate) as checkin; else noCheckin">

      <!-- EDIT MODE -->
      <ng-container *ngIf="editingCheckinId === checkin.id; else viewMode">

        <textarea
          [(ngModel)]="checkin.note"
          placeholder="Aggiungi una nota..."
          class="note"
          maxlength="140">
        </textarea>

        <div class="mood">
          <img src="crying.png">
          <img src="sad.png">
          <img src="neutral.png">
          <img src="happy.png">
          <img src="laughing.png">
        </div>

        <input
          type="range"
          min="1"
          max="5"
          [(ngModel)]="checkin.mood"
          class="slider">

        <div class="actions">
          <button type="button" (click)="editingCheckinId = null">
            Cancel
          </button>

          <button type="button" (click)="saveCheckinEdit(checkin)">
            Save
          </button>
        </div>

      </ng-container>

      <!-- VIEW MODE -->
      <ng-template #viewMode>

        <div class="title-section"
          [class.completed-title]="checkin.status === 'COMPLETED'"
          [class.skipped-title]="checkin.status === 'SKIPPED'">

          <img class="time" [src]="habit.partOfDay + '.png'">

          <h3>{{ habit.title }}</h3>

          <img class="edit" src="Edit.png" (click)="openEditDialog(habit)">
        </div>

        <p class="description">
          {{ habit.description || 'No description' }}
        </p>

        <div class="actions">

          <button type="button" (click)="deleteItem(checkin.id!)">
            🗑
          </button>

          <button type="button" (click)="editingCheckinId = checkin.id!">
            ✏️
          </button>

        </div>

      </ng-template>

    </ng-container>

    <!-- NO CHECKIN -->
    <ng-template #noCheckin>

      <div class="title-section">
        <img class="time" [src]="habit.partOfDay + '.png'">

        <h3>{{ habit.title }}</h3>

        <img class="edit" src="Edit.png" (click)="openEditDialog(habit)">
      </div>

      <p class="description">
        {{ habit.description || 'No description' }}
      </p>

      <div class="actions">

        <button type="button" (click)="updateCheckin(habit, 'SKIPPED')">
          ⏭
        </button>

        <button type="button" (click)="updateCheckin(habit, 'COMPLETED')">
          ✔
        </button>

      </div>

    </ng-template>

  </div>

</div>

<!-- ADD BUTTON -->
<button class="add-habit" (click)="openDialog()">
  Add Habit
</button>
